* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --primary-color-tile: #000958;
    --primary-color-desc: #656689;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-family: "Sora", sans-serif;
}

input,
button,
select,
textarea {
    font-size: inherit;
}

/* ==============================COMMON==================================*/

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

label {
    user-select: none;
}
/* ==============================Header==================================*/
.header {
    height: 100vh;
    padding-top: 26px;
    background: #fff2e5;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 36px;
    margin-left: auto;
    margin-right: auto;
}

.menu__list a {
    color: #5e6085;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
}

.menu__list a:hover {
    color: #000958;
}

.menu__signup {
    color: #000958;
    font-family: Poppins;
    padding: 18px 32px;
    border-radius: 25px;
    border: 1px solid #000958;
    font-size: 1.4rem;
    font-weight: 600;
}

/* ==============================Hero==================================*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.hero--left {
    position: relative;
    display: block;
    width: 610px;
}

.cat {
    min-width: 100%;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    object-fit: cover;
}

.cat__top {
    position: absolute;
    right: -50px;
    top: 0;
}

.cat__bottom {
    position: absolute;
    left: -60px;
    bottom: 0;
    z-index: -1;
}

.dog {
    position: absolute;
    bottom: -80px;
    right: -100px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    object-fit: cover;
}

.hero--left--about {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -120px;
    right: 60px;
    display: inline-block;
    padding: 14px 18px;
    border-radius: 10px;
    background-color: #fff;
}

.hero--left--about img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.pet-1,
.pet-2 {
    margin-left: 9px;
    margin-top: 7px;
}

.pet-1,
.pet-2 {
    position: relative;
}

.pet-1::after {
    content: "";
    display: block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.pet-1::before {
    position: absolute;
    content: "";
    display: block;
    width: 39px;
    height: 4px;
    bottom: 5px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.sepate {
    display: block;
    width: 222px;
    height: 2px;
    margin-top: 20px;
    background: #f2f2f2;
}

.left--about {
    margin-top: 20px;
}

.left--about:first-child {
    margin-top: 0;
}

.pet-2::after {
    content: "";
    display: block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.pet-2::before {
    position: absolute;
    content: "";
    display: block;
    width: 39px;
    height: 4px;
    bottom: 5px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.left--about {
    display: flex;
}

.hero--right {
    display: block;
}

.hero__title {
    width: 517px;
    color: var(--primary-color-tile);
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc {
    width: 391px;
    color: var(--primary-color-desc);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 24px;
    line-height: 1.87; /* 187.5% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__btn {
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 31px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    background-color: var(--primary-color);
}

.hero__btn i {
    color: var(--primary-color);
    padding: 7.5px 8.5px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fff;
}

.hero__links {
    color: #000958;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 24px;
    text-decoration: underline;
}

/* ===============================Agency==================================*/

.best-agency {
    padding-top: 77px;
    padding-bottom: 53px;
    background-color: #fff2e5;
}

.agency-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agency-left {
}

.agency__title {
    position: relative;
    width: 446px;
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.agency__title::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: "//  About  //";
    display: block;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.agency__desc {
    width: 431px;
    color: var(--primary-color-desc);
    margin-top: 24px;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.agency__all--row-1,
.agency__all--row-2 {
    display: flex;
    gap: 36px;
}

.agency__all--row-1 {
    margin-top: 54px;
}

.agency__all--row-2 {
    margin-top: 34px;
}

.agency__row-1 {
    position: relative;
}

.check-box {
    display: flex;
    align-items: center;
    user-select: none;
    color: #48496a;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
}

.check-box::before,
.check-box::after {
    content: "";
    display: inline-block;
}

.check-box::before {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color ease-out 0.25s;
}

.check-box::after {
    transition: border ease-out 0.25s;
}

.agency-all-row input[type="checkbox"]:checked ~ .check-box::before {
    background-color: #ff5b2e;
}

.agency-all-row input[type="checkbox"]:checked ~ .check-box::after {
    position: absolute;
    left: 6px;
    top: 5px;
    width: 12px;
    height: 8px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    rotate: -45deg;
}

.agency-right {
    width: 640px;
}

.agency__img {
    min-width: 100%;
    width: 450px;
    height: 602px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

/* ===============================Agency==================================*/

.vacation--all {
    padding-top: 77px;
    background-color: #fffaf5;
}

.vacation {
    display: flex;
    gap: 200px;
    align-items: center;
    padding: 16px 0 55px 0;
}

.vacation__img {
    min-width: 100%;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.vacation__title {
    width: 543px;
    color: var(--primary-color-tile);
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.vacation__desc {
    width: 511px;
    color: var(--primary-color-desc);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    margin-top: 24px;
}

.vacation__row {
    display: flex;
    gap: 56px;
    border-bottom: 2px solid #ff5b2e;
}

.row--row {
    display: flex;
    align-items: center;
    margin-top: 52px;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.vacation__about {
    margin-top: 36px;
}

.vacation__about__desc {
    width: 391px;
    color: var(--primary-color-desc);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 36px;
    margin-bottom: 32px;
    line-height: 1.71; /* 171.429% */
}

.vacation__links {
    color: #ff5d31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}
/* ===============================Our Services==================================*/

.our-all {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.our--top__title {
    position: relative;
    text-align: center;
    color: var(--primary-color-tile);
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.our--top__title::before {
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    display: block;
    content: "What we do for you?";
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.our--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-top: 71px;
}

.our--bottom--center__img {
    width: 100%;
    min-width: 447px;
    height: 621px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.our__bottom--links {
    text-align: center;
    margin-top: 37px;
}

.our__bottom--links:hover {
    opacity: 0.6;
}

.our__link {
    color: #ff5b2e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
}

.our--bottom--left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.our--bottom--left-1 {
    background-color: #fff;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.our--bottom--left-2 {
    background-color: #fff;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.our--bottom--left-3 {
    background-color: #fff;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.our--bottom--right {
    display: flex;
    flex-direction: column;
}

.our--bottom__title {
    color: var(--primary-color-tile);
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    border-left: 2px solid #ff5b2e;
    padding-left: 12px;
}

.our--bottom__desc {
    width: 244px;
    color: var(--primary-color-desc);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 18px;
    line-height: 1.71; /* 171.429% */
}

.our--bottom__links {
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
}

.our--bottom__links--arrow {
    margin-left: 6px;
}

/* ===============================MEET OUR GROOMERS==================================*/
.meet-all {
    padding: 130px 0;
    background: #fffaf5;
}

.meet__title {
    position: relative;
    color: var(--primary-color-tile);
    text-align: center;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.meet__title::before {
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    display: block;
    content: "Pet Care Staff";
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.meet--bottom {
    display: flex;
    justify-content: center;
    gap: 37px;
    margin-top: 59px;
}

.meet-avt {
    max-width: 100%;
    width: 278px;
    height: 313px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgba(255, 188, 122, 0.26);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.meet__name {
    position: relative;
    text-align: center;
    margin-top: 57px;
}

.meet__name::before {
    position: absolute;
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
    display: block;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
}

.name-01::before {
    content: "Pet Trainer";
}

.name-02::before {
    content: "Veterinarian";
}

.name-03::before {
    content: "Veterinarian";
}

.name-04::before {
    content: "Animal Caretaker";
}

.meet-links {
    text-align: center;
    margin-top: 48px;
}

.meet__links {
    color: #ff5b2e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
}

.meet__links:hover {
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
