* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --primary-color-tile: #000958;
    --primary-color-desc: #656689;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

input,
button,
select,
textarea {
    font-size: inherit;
}

/* ==============================COMMON==================================*/

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
/* ==============================Header==================================*/
